<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		  				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <!-- activates annotation-based bean configuration -->  
  <context:annotation-config/> 
   
  <!-- scans for @Components, @Repositories, @Services, ... -->  
  <context:component-scan base-package="org.siemac.metamac.statistical_resources.rest.external"> 
    <context:exclude-filter type="regex" expression=".*web.*"/> 
  </context:component-scan>
  
  <!-- Includes -->
  <import resource="classpath:/spring/statistical-resources-rest-external/include/rest-server.xml"/>
  <import resource="classpath:/spring/statistical-resources-rest-external/include/interceptor.xml"/>
</beans>
