<?xml version="1.0" encoding="UTF-8" ?>

<!-- NOTE: System properties must be configured in: SetupApplicationListener -->
<!-- <configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="commons-configuration.xsd"> -->
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <override>
        <system />
        <properties fileName="${environment.metamac.data}/common/conf/static/resources.xml" basePath="" config-optional="false" />
        <properties fileName="${environment.metamac.data}/common/conf/static/resources.xml" basePath="" config-optional="false" />
        <properties fileName="${environment.metamac.data}/common/conf/dynamic/security.xml" basePath="" config-optional="false" />
        <properties fileName="${environment.metamac.data}/common/conf/static/internal-endpoints.xml" basePath="" config-optional="false" />
       	<properties fileName="${environment.metamac.data}/statistical-resources/conf/static/datasource.xml" basePath="" config-optional="false" />
	    <properties fileName="${environment.metamac.data}/statistical-resources/conf/static/resources.xml" basePath="" config-optional="false" />
    </override>

</configuration>