<?xml version="1.0" encoding="UTF-8" ?>

<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <override>
        <system />
        <properties fileName="conf/metamac-statistical-resources-external-web-configuration.xml" basePath="" config-optional="false" />
    </override>
</configuration>
