<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
		http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-3.0.xsd 
		http://www.springframework.org/schema/aop   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
		http://www.springframework.org/schema/jee   http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
		http://www.springframework.org/schema/tx   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <!-- activates annotation-based bean configuration -->
    <context:annotation-config />

    <!-- scans for @Components, @Repositories, @Services, ... -->
    <context:component-scan base-package="org.siemac.metamac.statistical.resources.core, org.siemac.metamac.core.common*">
        <context:exclude-filter type="regex" expression=".*web.*" />
    </context:component-scan>

    <!-- Metamac environment configuration -->
    <bean id="configurationService" class="org.siemac.metamac.core.common.conf.ConfigurationServiceImpl">
        <property name="systemConfigurationFile">
            <value>classpath:metamac/environment.xml</value>
        </property>
    </bean>
    
    <!-- METAMAC-CORE-COMMON -->
    <import resource="classpath:/spring/error-beans-advice.xml" />
    <import resource="classpath:/spring/general-beans-advice.xml" />


    <!-- import additional spring configuration files -->

    <!-- metamac-statistical-resources -->
    <import resource="classpath:/spring/statistical-resources/include/datasource.xml" />
    <import resource="classpath:/spring/statistical-resources/include/entity-manager-factory.xml" />
    <import resource="classpath:/spring/statistical-resources/include/interceptor.xml" />
    <import resource="classpath:/spring/statistical-resources/include/more.xml" />


</beans>
