<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


    <bean id="applicationContextProvider" class="org.siemac.metamac.core.common.util.ApplicationContextProvider" />

    <!-- Mockito -->
    <import resource="classpath:/spring/sdmx-data-rest-external/core-mockito.xml" />
    
    <!-- Client Rest -->
    <import resource="classpath:/spring/sdmx-data-rest-external/client-providers.xml" />

    <!-- activates annotation-based bean configuration -->
    <context:annotation-config />

    <!-- scans for @Components, @Repositories, @Services, ... -->
    <context:component-scan  base-package="org.siemac.metamac.sdmx.data.rest.external, org.siemac.metamac.statistical.resources.core.io" >
    </context:component-scan>

    <!-- Metamac environment configuration -->
    <bean id="configurationService" class="org.siemac.metamac.statistical.resources.core.conf.StatisticalResourcesConfigurationImpl">
        <property name="systemConfigurationFile">
            <value>classpath:metamac/environment-test.xml</value>
        </property>
    </bean>

    <!-- Includes -->
    <import resource="classpath:/spring/sdmx-data-rest-external/include/rest-server.xml" />
	<import resource="classpath:/spring/sdmx-data-rest-external/include/more.xml" />

</beans>