<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:oxm="http://www.springframework.org/schema/oxm" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/oxm 
						http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd
					    http://www.springframework.org/schema/tx 
					    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     					http://www.springframework.org/schema/aop 
     					http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


    <!-- SpringBeanProvider GWTP -->
    <context:component-scan base-package="com.gwtplatform.dispatch.server.spring,org.siemac.metamac.statistical.resources.web,org.siemac.metamac.web.common.server.handlers" />

    <!-- Activates annotation-based bean configuration -->
    <context:annotation-config />

    <!-- Spring Beans for side server of GWT -->
    <bean class="com.gwtplatform.dispatch.server.spring.configuration.DefaultModule" />
    <bean class="com.gwtplatform.dispatch.server.spring.actionvalidator.DefaultActionValidator" />

    <!-- if proxy-target-class is false, error in actionHandlers beans (spring cannot find them) -->
    <aop:aspectj-autoproxy proxy-target-class="true" >
    </aop:aspectj-autoproxy>

    <!-- Component to translate exceptions in web, but in server side -->
    <bean id="webTranslateExceptions" class="org.siemac.metamac.web.common.server.utils.WebTranslateExceptions">
        <property name="bundleName" value="messages-statistical_resources-web"/>
    </bean>
    
    <!-- Logger aspect for logging exceptions thrown by actionHandlers -->
    <bean id="logAspect" class="org.siemac.metamac.web.common.server.aspects.ActionHandlerLoggerAspect" />

    <bean id="logger" class="com.gwtplatform.dispatch.server.spring.LoggerFactoryBean">
        <constructor-arg>
            <bean class="java.util.logging.Logger" factory-method="getAnonymousLogger">
                <property name="level">
                    <value>FINEST</value>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <!-- Configure externalized logging configuration file -->
    <bean id="loggingSetup" class="org.siemac.metamac.core.common.logging.LoggingSetup">
        <property name="logConfigurationFile" value="${environment.metamac.data}/statistical-resources/conf/logback-statistical-resources-web.xml" />
    </bean>



    <!-- Core -->
    <import resource="classpath:/spring/statistical-resources/applicationContext.xml" />
    
    <!-- Rest -->
    <import resource="classpath:/spring/statistical-resources-rest-internal/applicationContext.xml" />
</beans>

